
.top{
    height: 100vh;
}


.btn{
    color: brown;
    background-color: aqua;
}
.container-fluid{
    background-color: violet;
    height:100vh;
    
}

li a{
    color: azure;
    text-align: center;
}


.adna{
    background-color: violet;
    height: 8%;
    border:1px solid violet;
    
}
.table{
    width:100%;
}
.jo{
    height:84%;
    border:1px solid black;
    overflow-y: auto;
    background-color: aliceblue;
}
.adfo{
    height:8%;
    border:1px solid violet;
    background-color: violet;
    padding-left: 10px;
}



.changepass{
    height:100%;
    width:auto;
    border: 1px solid rebeccapurple;
}

ul{
    list-style-type: none;
    margin-top: 100px;

}
ul li{
    font-size: 20px;
    margin-bottom: 40px;
    background-color: yellowgreen;
    
}