.top{
    height: 100vh;
   
}

.btn{
    color: brown;
    background-color: aqua;
}
.container-fluid{
    background-color: violet;
    height:100vh;
    
}


.adna{
    background-color:violet;
    height: 8%;
    border:1px solid violet;
    
}
.table{
    width:100%;
}
.jo{
    height:84%;
    border:1px solid black;

    background-color: aliceblue;
}
.adfo{
    height:8%;
    border:1px solid violet;
    background-color: violet;
    padding-left: 10px;
}

li a{
    color: azure;
}