<div class="vtop">
    <div class="hhhh">
        <div class="row" style="height: 5%;">
            <div class="col">
               
                <button (click)="openmodal()" class="lmnb">Add</button>
                <div [class]="op">
                    <div class="modal1">
                        <app-popupadd></app-popupadd>
                        <button (click)="closemodal()" class="do">close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 95%; overflow-y: auto;">
            <div class="col-12">
                <table class="table table-bordered">
                    <tr class="table-row">
                        <th class="table-cell">Username</th>
                        <th class="table-cell">password</th>
                        <th class="table-cell">productnumber</th>
                        <th class="table-cell">delete</th>
                    </tr>
                    <tbody class="table-row">
                        <tr *ngFor="let h of w">
                        <td class="table-cell">{{h.username}}</td>
                        <td class="table-cell">{{h.password}}</td>
                        <td class="table-cell">{{h.productno}}</td>
                        <td class="table-cell">
                            <button>delete</button>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 